.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.urlInputContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.urlInput {
  padding: 5px 10px;
  font-size: 16px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.loadButton {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.loadButton:hover {
  background-color: #45a049;
}
